################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
*.dll
*.pdb
*.cache
*.tmp
*/obj
*/Debug
/PasswordChecker/bin/Debug/net6.0
